<!DOCTYPE HTML>
<html lang='en'>
<head>
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
