{% extends 'UserBundle:Layout:main.html.twig' %}

{% block title %}Users index page{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('create-user') }}">Add new user!</a></li>
    <li><a href="{{ path('all-users') }}">Show all users</a></li>
</ul>
{% endblock %}
